TOKEN=
PREFIX=_
TAG_PREFIX=C!C
OWNER_ID=

# DeviantArt API (https://www.deviantart.com/developers/)
DA_CLIENT_ID=
DA_CLIENT_SECRET=
DA_REFRESH_TOKEN=

# Optional: Folder watch paths
IMAGE_FOLDER_PATH=
VIDEO_FOLDER_PATH=
