TOKEN=your_discord_bot_token
PREFIX=_
TAG_PREFIX=C!C
OWNER_ID=your_discord_user_id
IMAGE_FOLDER_PATH=D:\SD_output
VIDEO_FOLDER_PATH=D:\SD_Main\ComfyVideo\ComfyUI_windows_portable\ComfyUI\output
COMFYUI_URL=http://127.0.0.1:8188
GELBOORU_USER_ID=
GELBOORU_API_KEY=
